"" Source your .vimrc
"source ~/.vimrc
" Ideas: https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
" https://youtrack.jetbrains.com/issue/VIM-1337"

let mapleader ="\<Space>"
nnoremap ;r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap ;e :e ~/.ideavimrc<CR>

jnoremap <leader>a :action GotoFile<CR>
nnoremap <leader>z :e ~/.zshrc<CR>
nnoremap <leader>r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap gp :action Vcs.Push<CR>
